<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="Codescandy">
{% include script.html %}
<!-- Favicon icon-->
<link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon/favicon.ico">
<!-- Plugins CSS -->
{% if page.stylesheets %}{% for stylesheet in page.stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ stylesheet.url }}">{% endfor %}{% endif %}
<!-- Theme CSS -->
<link rel="stylesheet" href="/assets/css/theme.min.css" />
<title>{{ page.title }}</title>
</head>
