
<head>
<link rel="stylesheet" href="/assets/libs/bootstrap-select/dist/css/bootstrap-select.min.css">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="Codescandy">

<script>
// Render blocking JS:
if (localStorage.theme) document.documentElement.setAttribute("data-theme", localStorage.theme);
</script>

<!-- Favicon icon-->
<link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon/favicon.ico">


<!-- Libs CSS -->
<link href="/assets/fonts/feather/feather.css" rel="stylesheet">
<link href="/assets/libs/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
<link href="/assets/libs/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet" />
<link href="/assets/libs/simplebar/dist/simplebar.min.css" rel="stylesheet">




<!-- Theme CSS -->
<link rel="stylesheet" href="/assets/css/theme.min.css">
<link rel="canonical" href="https://geeksui.codescandy.com/geeks/pages/course-category.html">
<title>Course Category | Geeks - Bootstrap 5 Template</title>
</head>
