<!-- Sidenav START -->
<div class="col-lg-3">

<!-- Advanced filter responsive toggler START -->
<div class="d-flex align-items-center d-lg-none">
<button class="border-0 bg-transparent" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSideNavbar" aria-controls="offcanvasSideNavbar">
<span class="btn btn-primary"><i class="fa-solid fa-sliders-h"></i></span>
<span class="h6 mb-0 fw-bold d-lg-none ms-2">My profile</span>
</button>
</div>
<!-- Advanced filter responsive toggler END -->

{% include nav1.html %}
</div>
<!-- Sidenav END -->