<!DOCTYPE html>
<html lang="en">
{% if page.head %}
{% include {{ page.head }} %}
{% else %}
{% include head1.html %}
{% endif %}
<body>
<!-- Page content -->
{% if page.nav %}
{% include {{ page.nav }} %}
{% else %}
{% include nav.html %}
{% endif %}
<!-- Page header -->
<main>
{{ content }}
</main>
<!-- Footer -->
<!-- Footer -->
{% if page.myfooter %}
{% for var in page.myfooter %}
{% include {{ var.url }} %}
{% endfor %}
{% endif %}

<!-- Scripts -->
<!-- Libs JS -->
{% include lowerscript.html %}
</body>

</html>