
<!DOCTYPE html>
<html lang="en">
{% if page.head %}
{% include {{ page.head }} %}
{% else %}
{% include head1.html %}
{% endif %}
<body>
<!-- =======================
Header START -->
{% if page.header %}
{% include {{ page.header }} %}
{% else %}
{% include header1.html %}
{% endif %}
<!-- =======================
Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>
{{ content }}

</main>
<!-- **************** MAIN CONTENT END **************** -->
{% if page.myvariables %}
{% for var in page.myvariables %}
  {% include {{ var.url }} %}
{% endfor %}
{% endif %}


<!-- =======================
JS libraries, plugins and custom scripts -->
{% include lowerscript.html %}	
</body>
</html>